---
# tasks file for bash

- name: "bash | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: foot_distribution_config

- name: "bash | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: foot_distribution_config.stat.exists
  ignore_errors: yes

- name: "Bash | Configuration Symlinks"
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: "{{ role_path }}/files/.bashrc", dest: "{{ ansible_user_dir }}/.bashrc" }
    - { src: "{{ role_path }}/files/.bash_profile", dest: "{{ ansible_user_dir }}/.bash_profile" }
    - { src: "{{ role_path }}/files/.zshrc", dest: "{{ ansible_user_dir }}/.zshrc" }
    - { src: "{{ role_path }}/files/.zprofile", dest: "{{ ansible_user_dir }}/.zprofile" }

- name: "Set default shell to zsh"
  become: true
  user:
    name: "{{ user_name }}"
    shell: "/bin/zsh"
