---
- name: "System | {{ ansible_distribution }} | Install system related dependencies and tools"
  kewlfft.aur.aur:
    use: yay
    name:
      - bitwarden
      - bitwarden-cli
      - bat
      - less
      - unicode
      - bc
      - pacman-contrib                                         # for system update check
      - ascii
      - curl
      - wget
      - sysdig
      - sysdig-dkms
      - scrcpy
      - btop
      - fzf
      - zoxide
      - man-db
      - fastfetch
      - ps_mem
      - parallel                                               # for parallel processing
      - jq                                                     # for json processing
      - imagemagick                                            # for image processing
      - gtk3
      - eza
      - flameshot
      - maim
      - graphviz
      - fd
      - ripgrep
      - ca-certificates
      - gnupg
      - impala
      - bluetui
      - gimp
      - zathura
      - pinta
      - localsend
    state: present
