
@import "mocha.css";

* {
  font-family: Iosevka NF;
  box-shadow: none;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
  margin: 4px 4px;
}

#workspaces {
  margin: 0 4px;
  background-color: @base;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #language{
  margin: 4px 4px;
  padding: 0 6px;
  color: @lavender;
  background-color: @surface0;
  border-radius: 4px;
  min-width: 20px;
}

#clock {
  color: @blue;
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 4px;
  min-width: 20px;
}


#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
