---
- name: "Dev | {{ ansible_distribution }} | Install development tools, languages and utilities"
  kewlfft.aur.aur:
    use: yay
    name:
      ## virtualization
      - docker
      - lazydocker
      # - kubectl
      - k9s
      - minikube
      ## cloud
      - aws-cli
      # - podman
      # - wine # FIXME: this is breaking installation for some reason
      ## web
      - nginx
      ## db
      - sqlite
      # - redis
      # - mongodb
      ## lang
      # - nodejs
      - python
      # - python-pyflakes
      # - python-isort
      # - python-pipenv
      # - python-nose
      # - python-pip
      # - python-grip-git # github markdown preview
      # - go
      # - gomodifytags-git
      # - gotests
      # - gore
      # - powershell # FIXME: this is breaking installation for some reason
      - yasm
      # - php
      # - rustup # FIXME: this is breaking installation for some reason
      # - ruby
      # - dotnet-sdk
      # - dotnet-runtime
      # - jdk-openjdk
      ## package managers
      - npm
      # - composer
      # - gradle
      ## compilers
      - gcc
      # - ghc # Haskel
      - clang
      ## lsp
      - gopls
      # - rust-analyzer
      ## formatter
      - clang-format-all
      - python-black
      - dockfmt-git
      - tidy
      - stylelint
      - shfmt
      - shellcheck-bin
      - js-beautify
      ## misc
      - direnv
      - dos2unix
      - try-cli
      - lazygit
      - mise
      - github-cli
    state: present
